<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

    <title>Thêm thành phố</title>

</head>
<body>

<div class="container">
    <div class="row justify-content-center mt-4">
        <form class="col-md-6" method="post" th:action="@{/cities/create}" th:object="${cities}" novalidate="novalidate">
            <h1 class="" style="color: red;">Thêm thành phố</h1>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}">
            </div>
            <div class="form-group">
                <label for="area">Area</label>
                <input type="text" class="form-control" id="area" th:field="*{area}">
            </div>
            <div class="form-group">
                <label for="gdp">GDP</label>
                <input type="text" class="form-control" id="gdp" th:field="*{gdp}">
            </div>
            <div class="form-group">
                <label for="population">Population</label>
                <input type="text" class="form-control" id="population" th:field="*{population}">
            </div>
            <div class="col-md-3 position-relative">
                <label for="type" class="form-label">Country</label>
                <select class="form-select" id="type" th:field="*{country.id}" required>
                    <option selected th:each="t: ${country}" th:value="${t.id}" th:text="${t.name}"></option>
                </select>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-success" type="submit" value="save">Thêm mới</button>
                <button class="btn btn-secondary" type="button" onclick="cancelForm()">Tho</button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>

<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/city}]]";
    }
</script>
</body>
</html>